/* Theme Layout */
#container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 20px;
	background-color: white;
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
#header {
	height:110px;
	position: relative;
	border-bottom:1px solid #F7F7F7;
}
.logo {
	position:absolute;
	left:0px;
	bottom:10px;
}
.about {
	background-color: $brand-accent;
	margin: 0;
	padding: 20px;
	
	p {
		font-size: 15px;
	}
}
#askbar {
	margin-bottom: 25px;
	
}
.searchf {
	float: right;
}
.askinput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:28px;
	margin-left:15px;
	margin-top:23px;
	width:450px;
	font-size: 16px;
	font-weight: bold;
	color:#BFBFBF;
	padding-left:10px;
	margin-right:15px;
}
.searchinput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:28px;
	margin-right:15px;
	margin-top:23px;
	width:200px;
	font-size: 16px;
	font-weight: bold;
	color:#BFBFBF;
	padding-left:10px;
}
.topbutton {
	height: 48px;
	margin: 0 auto;
	outline: none;
	cursor: pointer;
	
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

	color: white;
	background-color: $brand-main;
	border-radius: 2px;
	border-bottom: 3px solid darken($brand-main, 10%);
	&:hover{
		background-color: darken($brand-main, 10%);
		border-bottom: 3px solid darken($brand-main, 20%);
	}
	
	a {
		color: white;
		
		&:hover, &:active, &:visited {
			color: white;
		}
		
	}
}
.topbutton:hover {
	text-decoration: none;
	color: white;
}
.topbutton:active {
	position: relative;
}
.topbutton:focus {
}
.topblue {
	color: white;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.topblue:hover {
	background: #007ead;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.topblue:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.loginbox {
	font-size: 12px;
	color:#BFBFBF;
	padding-left:10px;
	margin-right:15px;
	width:94%;
	height:20px;
	margin-bottom:15px;
}
.loginbutton {
	height:25px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right:15px;
	font-size: 12px;
	width:140px;
	padding:0px;
	line-height: 18px;
}
.loginbutton:hover {
	text-decoration: none;
}
.loginbutton:active {
	position: relative;
}
.submit {

}
.submit-idea {
	line-height: 48px;
	width: 100%; 
}
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	color: #606060;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #606060;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top, #ededed, #fff);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.loginwidget {
	margin-bottom:20px;
}
.noaccount {
	border-top:3px solid #F7F7F7;
	text-align: center;
}
.twitterbutton {
	margin-right:10px;
}
#content {
	float: left;
	width: 100%;
	max-width:600px;
	margin-top: 50px;
	margin-right: -288px;
	margin-bottom: 20px;
}
.date{
	margin-bottom: 20px;
	font-size: 15px;
}
.question {
	margin-bottom: 20px;
	max-width: 630px;
	min-height: 64px;
	padding: 10px 12px;
	border-bottom: 3px solid #f7f7f7;
	transition: background-color 0.3s ease;
	&:hover{
		background-color: $brand-accent;
	}
}
.questionmain {
	margin-left:60px;
}
.questiontitle {
	margin:0px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.2px;
	margin-top:8px;
	margin-bottom:2px;
	line-height: 22px;
}
.questiontitle a {
	color:#010101;
}
.questiontitle a:hover {
	color: #777777;
}
.questionnumber {
	background-image: url(../img/bubble-bg.png);
	background-repeat: no-repeat;
	color:white;
	width:50px;
	height:51px;
	float: left;
	margin-right:10px;
}
.questionnumber a {
	display:block;
	width:50px;
	height:50px;
	color:white;
}
.questionnumber a:hover {
	color:#e4e4e4;
}
.questionnumber p {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}
.questionmeta {
	color:#A4A4A4;
}
.questionmeta a {
	color:#A4A4A4;
}
.questionmeta a:hover {
	color:#010101;
}
.questionmeta li {
	list-style-type: none;
	display: inline;
	margin-right:20px;
}
.cat-count {
	float:left;
	background-color: #141414;
	color:white;
	display:block;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	width:22px;
	height:22px;
	text-align: center;
	line-height: 22px;
	margin-right:10px;
	font-size: 11px;
	font-weight: bold;
}
.avatarsmall {
	width: 22px;
	height: 22px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	float: left;
	margin-right:10px;
}
.user-points {
	float: right;
}
.questionarea {
	height:200px;
	width:80%;
	max-width: 100%;
}
.formlabel {
	margin-top:20px;
}
/* Interior */



.userinfo p {
	margin-top:20px;
}
.formlabel {
	padding-bottom:5px;
	line-height:25px
}
.formtitle {
	margin:0px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.2px;
	margin-top:8px;
	margin-bottom:2px;
	line-height: 22px;
	margin-top:30px;
}
.formtitle a {
	color:#010101;
}
.formtitle a:hover {
	color: #777777;
}

/* Sidebar */
#sidebar {
	float:right;
	width:288px;
	margin-top: 50px;
	margin-bottom:15px;
}
.sidehead {
	font-size: 15px;
	border-bottom:3px solid #F7F7F7;
	padding-bottom:5px;
	margin-bottom:15px;
}
.sidebarwidget {
	padding-bottom:15px;
	margin-bottom:20px;
}
.sidebarwidget ul {
}
.sidebarwidget li {
	border-bottom:1px solid #F7F7F7;
	padding-bottom:7px;
	margin-top:7px;
}
.sidebarwidget li:last-child {
	border:0px;
	padding-bottom:0px;
}
.sidebarwidget li a {
	color:#A4A4A4;
}
.sidebarwidget li a:hover {
	color:#010101;
}
.sidebarwidget p {
	margin-bottom:5px;
	margin-top:10px;
}

/* Footer */
#footer {
	height: 75px;
	width: 960px;
	margin: 0 auto;
	clear: both;
}
#footer a {
	color:#777777;
}
#footer a:hover {
	color:#006cff;
}
.footerwidget {
	border-bottom:1px solid #F7F7F7;
	padding-bottom:15px;
	margin-bottom:20px;
	float:left;
	width:290px;
	margin-right:45px;
}
 .footerwidget:nth-child(3n+3) {
 margin-right:0px;
}
.footerwidget ul {
}
.footerwidget li {
	border-bottom:1px solid #F7F7F7;
	padding-bottom:7px;
	margin-top:7px;
}
.footerwidget li:last-child {
	border:0px;
	padding-bottom:0px;
}
.footerwidget li a {
	color:#A4A4A4;
}
.footerwidget li a:hover {
	color:#010101;
}
.footerwidget p {
	margin-bottom:5px;
	margin-top:10px;
}
#bottom {
	border-top: 3px solid #F7F7F7;
}
.footerlogo {
	float: left;
	margin-right:10px;
}