.modal {
    position: fixed;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.modal .modal-box {
	position: relative;
    background: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 65px;
    padding: 45px;
    cursor: default;
    
    .fa-times {
	    cursor: pointer;
	    position: absolute;
	    top: 15px;
	    left: 15px;
	    
	    &:hover {
		    color: $brand-accent;
	    }
    }
    
    p {
	    font-size: 15px;
	    color: #666666;
    }
    
    h4 {
	    font-size: 28px;
	    margin-bottom: 20px;
	    text-align: center;
	    line-height: 1;
    }
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin: 20px auto;
	overflow: hidden;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.clear-background {
    opacity: 0;	
}
.calendar-wrapper {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
/* Theme Layout */
#container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 20px;
	background-color: white;
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
#header {
	padding-top: 35px;
	margin-bottom: 5px;
	position: relative;
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}

}
.logo.logo.logo { // don't ask, it just increases specificity...
	float: left;
	color: black;
	font-size: 26px;
	line-height: 1;
}
.logo-img {
	background-image: url(../img/AOK-logo.jpg);
	background-size: contain;
	float: left;
	margin: 3px 10px 0 0;
	height: 47px;
	width: 27px;
}
.about {
	background-color: $brand-offset;
	margin: 0;
	padding: 25px;
	
	p {
		font-size: 18px;
		line-height: 1.2;
	}
}
#askbar {
	margin-bottom: 25px;
	
}
.searchf {
	float: right;
}
.askinput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:28px;
	margin-left:15px;
	margin-top:23px;
	width:450px;
	font-size: 16px;
	font-weight: bold;
	color:#BFBFBF;
	padding-left:10px;
	margin-right:15px;
}
.searchinput {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:28px;
	margin-right:15px;
	margin-top:23px;
	width:200px;
	font-size: 16px;
	font-weight: bold;
	color:#BFBFBF;
	padding-left:10px;
}

.topbutton {
	height: 48px;
	margin: 0 auto;
	outline: none;
	cursor: pointer;
	
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

	color: white;
	background-color: $brand-main;
	border-radius: 2px;
	border-bottom: 3px solid darken($brand-main, 10%);

	&:hover{
		background-color: darken($brand-main, 10%);
		border-bottom: 3px solid darken($brand-main, 20%);
	}
	
	a {
		color: white;
		display: block;
		
		&:hover, &:active, &:visited {
			color: white;
		}
		
	}
	
}
input.topbutton.submit{
	width: 100%;
	
	&:hover, &:active, &:visited {
		color: white;
	}
	
}
.topbutton:active {
	position: relative;
}
.topbutton:focus {
}
.topblue {
	color: white;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.topblue:hover {
	background: #007ead;
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.topblue:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.loginbox {
	font-size: 12px;
	color:#BFBFBF;
	padding-left:10px;
	margin-right:15px;
	width:94%;
	height:20px;
	margin-bottom:15px;
}
.loginbutton {
	height:25px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right:15px;
	font-size: 12px;
	width:140px;
	padding:0px;
	line-height: 18px;
}
.loginbutton:hover {
	text-decoration: none;
}
.loginbutton:active {
	position: relative;
}
.submit {

}
.submit-idea {
	line-height: 48px;
	width: 100%; 
}
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top, #fff, #ededed);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	color: #606060;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #606060;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top, #ededed, #fff);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.loginwidget {
	margin-bottom:20px;
}
.noaccount {
	border-top:3px solid #F7F7F7;
	text-align: center;
}
.twitterbutton {
	margin-right:10px;
}
.content {
	float: left;
	width: 100%;
	max-width:600px;
	margin-top: 25px;
	margin-right: -288px;
	margin-bottom: 20px;
	
	&:after {
		content: '';
		display: table;
		clear:both;
	}
	
	p i {
		font-size: 12px;
		line-height: 1;
	}
}
.date{
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 700;
	color: #222;
}
.question {
	display: block;
	margin-bottom: 20px;
	max-width: 630px;
	min-height: 64px;
	padding: 10px 12px;
	border-bottom: 3px solid #f7f7f7;
	border-left: 2px solid white;
	transition: border 0.3s ease;
	
	&:hover{
		border-left-color: $brand-accent;
		background-color: $brand-offset;
	}
}
.questionmain {
	margin-left:72px;
}
.questiontitle {
	margin:0px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.2px;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 22px;
	color: $brand-main;
}
.questiontitle a {
	color: $brand-main;
}
.questiontitle a:hover {
	color: #777777;
}
.questionnumber {
	background-image: url(../img/bubble-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
	float: left;
	margin-right:10px;
}
.questionnumber p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
}
.questionnumber a {
	display: block;
	color: #e4e4e4;
}
.questionnumber a:hover {
	color: white;
}
.commentheading {
	font-size: 18px;
	font-weight: bold;
	line-height: 35px;
}

.questionmeta {
	color:#A4A4A4;
	margin: -15px 0 0 0;
}
.questionmeta a {
	color:#A4A4A4;
}
.questionmeta a:hover {
	color: $brand-accent;
}
.questionmeta li {
	list-style-type: none;
	display: inline;
	margin-right:20px;
	
	span {
		margin-left: 10px;
	}
}
.avatar{
	margin-top: 3px;
}
.event {
	width:50px;
	height:51px;
	float: left;
	margin-right:10px;
}
.cat-count {
	float:left;
	background-color: $brand-accent;
	color:white;
	display:block;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	width:22px;
	height:22px;
	text-align: center;
	line-height: 22px;
	margin-right:10px;
	font-size: 11px;
	font-weight: bold;
}
.avatarsmall {
	width: 22px;
	height: 22px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	float: left;
	margin-right:10px;
}
.user-points {
	float: right;
}
.formlabel {
	margin-top:20px;
}
/* Interior */
.questionarea {
	height:200px;
	width:100%!important;
	max-width: 100%;
}


.userinfo p {
	margin-top:20px;
}
.formlabel {
	padding-bottom:5px;
	line-height:25px
}
.formtitle {
	margin:0px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.2px;
	margin-top:8px;
	margin-bottom:2px;
	line-height: 22px;
	margin-top:30px;
}
.formtitle a {
	color:#010101;
}
.formtitle a:hover {
	color: #777777;
}
.town-hall-events {
	float: none;
}

/* Sidebar */
#sidebar {
	float:right;
	width:288px;
	margin-top: 50px;
	margin-bottom:15px;
}
.sidehead {
	font-size: 15px;
	border-bottom:3px solid #F7F7F7;
	padding-bottom:5px;
	margin-bottom:15px;
}
.sidebarwidget {
	padding-bottom:15px;
	margin-bottom:20px;
}
.sidebarwidget ul {
}
.sidebarwidget li {
	border-bottom:1px solid #F7F7F7;
	padding-bottom:7px;
	margin-top:7px;
}
.sidebarwidget li:last-child {
	border:0px;
	padding-bottom:0px;
}
.sidebarwidget li a {
	color:#A4A4A4;
}
.sidebarwidget li a:hover {
	color:#010101;
}
.sidebarwidget p {
	margin-bottom:5px;
	margin-top:10px;
}

/* Footer */
#footer {
	height: 75px;
	margin: 0 auto;
	clear: both;
}
#footer a {
	color:#777777;
}
#footer a:hover {
	color:#006cff;
}
.footerwidget {
	border-bottom:1px solid #F7F7F7;
	padding-bottom:15px;
	margin-bottom:20px;
	float:left;
	width:290px;
	margin-right:45px;
}
 .footerwidget:nth-child(3n+3) {
 margin-right:0px;
}
.footerwidget ul {
}
.footerwidget li {
	border-bottom:1px solid #F7F7F7;
	padding-bottom:7px;
	margin-top:7px;
}
.footerwidget li:last-child {
	border:0px;
	padding-bottom:0px;
}
.footerwidget li a {
	color:#A4A4A4;
}
.footerwidget li a:hover {
	color:#010101;
}
.footerwidget p {
	margin-bottom:5px;
	margin-top:10px;
}
#bottom {
	border-top: 3px solid #F7F7F7;
	text-align: center;

	p {
		font-size: 12px;
	}
}
.footerlogo {
	float: left;
	margin-right:10px;
}


/*-----------------------------------------------------------------------------------*/
/* Thumbs Ratings Styles */
/*-----------------------------------------------------------------------------------*/

.thumbs {
	margin-left: 15px;
}

.thumbs-rating-container{
	padding:1em 0;
	display: inline-block;
	float: right;
}

.thumbs-rating-container span{
	cursor: pointer;
	min-width: 38px;
	display: inline-block;
	text-align: center;
}

.thumbs-rating-container span:before{
	content: attr(data-text);
}

.thumbs-rating-container .thumbs-rating-up, .thumbs-rating-container .thumbs-rating-down{
	padding: 0.5em;
	color: white;
} 

.thumbs-rating-container .thumbs-rating-up{
	background: $brand-main;
	border-bottom: 3px solid darken($brand-main, 10%);

	&:hover{
		background-color: darken($brand-main, 10%);
		border-bottom: 3px solid darken($brand-main, 20%);
	}
}

.thumbs-rating-container .thumbs-rating-down{
	background: $brand-accent;
	border-bottom: 3px solid darken($brand-accent, 10%);

	&:hover{
		background-color: darken($brand-accent, 10%);
		border-bottom: 3px solid darken($brand-accent, 20%);
	}
}

.thumbs-rating-container .thumbs-rating-already-voted{
	padding-top: 1em;
	font-size: 0.9em;
	margin-right: 15px;	
	display: none;

    transition: background 0.3s ease;
}

.thumbs-rating-container .thumbs-rating-already-voted:before{
	content: attr(data-text);
}
.thumbvote {
	display: inline;
	padding: 0 6px 0 1px;
}

.title {
	text-align: center;
	font-size: 26px;
}
.error {
	color: $brand-accent;
}