/*

Extra Style for Plugin

*/

.clear {

	clear:both;

}



.loginwidget{

	margin-bottom:20px;

}



.noaccount{

	border-top:3px solid #F7F7F7;

	text-align: center;

}



.twitterbutton{

	margin-right:10px;

}





.questionmain{

	margin-left:5px;

}



.questiontitle{

	margin:0px;

	font-size: 20px;

	font-weight: bold;

	letter-spacing: -0.2px;

	display:inline-block;



}



.questiontitle a{

	color:#010101;

}



.questiontitle a:hover{

	color: #777777;

}



.questionnumber{

	background-image: url(../img/bubble-bg.png);

	background-repeat: no-repeat;

	color:white;

	width:50px;

	height:51px;

	float: left;

	margin-right:30px;
     
}



.questionnumber a{

	display:block;

	width:50px;

	height:50px;

	color:white;

	text-decoration:none

}



.questionnumber a:hover{

	color:#e4e4e4;

}



.questionnumber p{

	font-size: 25px;

	font-weight: bold;

	text-align: center;

	line-height: 50px;

}



.questionmeta{

	color:#A4A4A4;

}



.questionmeta a{

	color:#A4A4A4;

}



.questionmeta a:hover{

	color:#010101;

}



.questionmeta {

	margin:0px;

	padding:0px;

}



.questionmeta li{

	list-style-type: none;

	display: inline;

	margin-right:20px;

}



.cat-count{

	float:left;

	background-color: #141414;

	color:white;

	display:block;

	-moz-border-radius:15px;

	-webkit-border-radius: 15px;

	border-radius: 15px;

	width:22px;

	height:22px;

	text-align: center;

	line-height: 22px;

	margin-right:10px;

	font-size: 11px;

	font-weight: bold;

	

}



.cat-item{

	list-style:none;

	margin-left:0px;

	padding-left:0px;

	margin-bottom:20px;

}



.avatarsmall {

	width: 22px;

	height: 22px;

	border-radius: 20px;

	-webkit-border-radius: 20px;

	-moz-border-radius: 20px;

	float: left;

	margin-right:10px;

}



.user-points{

	float: right;

}



.questionarea{

	height:200px;

	width:80%;

}



.formlabel{

	margin-top:20px;

}





/* Interior */



.userinfo p{

	margin-top:20px;

}



.formlabel{

	padding-bottom:5px;

	line-height:25px

}



.formtitle{

	margin:0px;

	font-size: 20px;

	font-weight: bold;

	letter-spacing: -0.2px;

	margin-top:8px;

	margin-bottom:2px;

	line-height: 22px;

	margin-top:30px;

}



.formtitle a{

	color:#010101;

}



.formtitle a:hover{

	color: #777777;

}







/* Comments */



.voting{

	float:left;

}



.vote{

	width:25px;

	height:20px;

	display:block;

	

}



.voting li{

	display:block;

	width:25px;

	list-style-type:none;

	float:left;

	text-align:center;

	line-height:20px;

	font-weight:bold;

}



.voting li a{

	width:20px;

	background-color:#333333;

	color:white;

	-moz-border-radius:25px;

	-webkit-border-radius: 25px;

	border-radius: 25px;

}



.voting li a:hover{

	background-color:#333333;

}





.negative{

	color:#CCCCCC;

}



.negative .comment-author {

	color:#CCCCCC;

}



.negative .wpanswerstuff{

	color:#CCCCCC;

}



.negative .avatar{

	zoom: 1;

	filter: alpha(opacity=50);

	opacity: 0.5;

}



.best-answer{

	background-color:#FFFFD9;

	padding:10px;

	background-image:url(img/bestanswer-button.png);

	background-repeat:no-repeat;

	background-position:top 10px right 10px;

}



#comments{



}



.commentheading{

	float:left;

	font-size: 18px;

	font-weight: bold;

	margin-top:15px;

}



.leavecomment{

	font-size: 18px;

	font-weight: bold;

	margin-top:15px;

	border-bottom:3px solid #F7F7F7;

	margin-bottom:25px;

	padding-bottom:10px;

}





.comments ol{

}



.wpanswerstuff{

	margin-left:55px;

	margin-bottom:-5px;

}



.wpanswerstuff li{

	display:inline;

	list-style-type:none;

	margin-right:10px;

	font-size:11px;

}



.wpanswerstuff a{color:#B9B9B9;}

.wpanswerstuff a:hover{color: #006CFF;}





.avatar{

	float:left;

	margin-right:10px;

	-moz-border-radius:25px;

	-webkit-border-radius: 25px;

	border-radius: 25px;

	border:0px;

	padding:0px;

}





.answerarea{

	background-image:url(img/stripe-bg.png);

	background-repeat:repeat;

	padding:15px;

	-webkit-border-radius: 5px; 

	-moz-border-radius: 5px;

	border-radius: 5px;

}



.commentinfo{

	font-size: 11px;

	margin-top:20px;

}



.commentsubmit{

	margin-top:20px;

	display: block;

	background-color: #464646;

	color:white;

	border:0px;

	font-size: 11px;

	padding:5px 15px;

}



.commentsubmit:hover{

	background-color: #5E5E5E;

	cursor: pointer;

}



.cancelcomment {

	margin-bottom:10px;

}



.loggedinauthor{

}







/* Widgets */





.top-users-widget li{

	margin-bottom:10px;

}



/* reCaptcha */



#recaptcha{

	margin:20px;

}





/* Pagination */





.pagination {

	position:relative;

	padding:0px 0;

	font-size:11px;

	line-height:13px;

	height:60px;

	padding-top:10px;

	padding-bottom:0px;

	max-width:625px;

}



.pagination span, .pagination a {

	display:block;

	float:left;

	margin: 2px 2px 2px 0;

	padding:6px 9px 5px 9px;

	text-decoration:none;

	width:auto;

	color:#444;

	border:1px solid #EDEDED;

		-moz-border-radius:15px;

	-webkit-border-radius: 15px;

	border-radius: 15px;

}



.pagination a:hover{

	background: #24221D;

	color:#fff;

	text-decoration: none;

	border:1px solid #24221D;

}



.pagination a:visited{

	text-decoration: none;

}



.pagination .current{

	padding:6px 9px 5px 9px;

	background: #24221D;

	color:#fff;

	border:1px solid #24221D;

}

