/* Responsive*/
img {
	max-width: 100%;
	height:auto;
}

/* Portrait Tablets */

@media only screen and (min-width: 768px) and (max-width: 959px) {
 #container {
 width:740px;
}
 .content {
max-width:400px;
}
 .searchinput {
 width:140px;
}
 .askinput {
 width:300px;
}
 .topbutton {
}
 .footerwidget {
 width:230px;
 margin-right:25px;
}
 .question {
 max-width:420px;
}
}



/* Landscape Mobiles */
@media only screen and (min-width: 480px) and (max-width: 767px) {
 #container {
 width:420px;
}
 .askinput {
 width:275px;
}
 .topbutton {
 margin:0px;
}
 .footerwidget {
 width:100%;
 float: inherit;
}
}



/*  Portrait Mobiles */

@media only screen and (max-width: 767px) {
 body{
	 background-image: none;
 }
 #container {
/* width:290px;*/
 width: auto;
}
 .askinput {
 width:150px;
}
 .topbutton {
 margin:0px;
}
 .searchf {
 display:none;
}
 .content {
 float: inherit;
 width:100%;
 max-width: none;
}
h2.questiontitle {
 font-size: 14px;
}
#sidebar {
  width: 100%;
  margin-top: 10px;
}
#bottom{
	border: none;
}
 .question {
	 max-width: none;
 }
}

@media only screen and (max-width: 665px) {
#header {
	
}
#main-nav li {
	padding: 0 6px;
	a {
		font-size: 15px;
	}
}

.about {
	margin-top: 25px;
}
.thumbs-rating-container .thumbs-rating-already-voted {
	font-size: 0.75em;
	margin-right: 5px;
}
}

@media only screen and (max-width: 344px) {
#main-nav li {
	padding: 0 7px;
	
	a {
		font-size: 13px;
	}
	
}
#sidebar {
	clear: both;
}
}