/* Sass variables
-------------------------------------------------------------- */
$brand_main: #1b75bb; //blue
$brand_accent: #c84848; //red? 
$brand_offset: #FAFAFA; //light grey

/* Font Stacks
-------------------------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:100,400,700');
$font_main: "Open Sans", sans-serif, Arial;

/* Sass @imports
-------------------------------------------------------------- */
@import 'reset';
@import 'default';
@import 'layout';
@import 'nav';
@import 'comments';
@import 'widgets';
@import 'responsive';
//@import 'plugin';
@import 'font-awesome';